body {
    background-color: azure;
    text-align: center;
}
h1 {
    color: blueviolet;
}

h2 {
    color: violet;
}

h4 {
    color: coral;
}

img {
    border-radius: 20%;
    padding: 5%;
    width: 35%;
    height: 20%;
}

hr {
    width: 70%;
    color: #000;
}
 a {
     color: rgb(87, 187, 218);
     text-decoration: none;
 }

 a:hover {
     color: aquamarine;
 }